{
	"twitch": {
		"connection": {
			"reconnect": true,
			"secure": true
		},
		"identity": {
			"username": "BotName",
			"password": "oauth:"
		},
		"owners": ["nielsad"]
	},
	"discord": {
		"connection": {
			"api_request_method": "burst"
		},
		"identity": {
			"token": ""
		},
		"owners": ["niels#1234"]
	}
	"channels": {
		"#twitchChannel": {
			"discord_guild": "discordGuildID",
			"discord_mods":  "discordRoleName",
			"discord_log":   "discordChannelID",
			"commands": {
				"!muddy": {
					"response": "I'm alive! Source available at https://github.com/nielsAD/muddy PogChamp"
				}
			}
		}
}
