{
	"api": {
		"port": 33333,
		"tokens": {
			"1234567890": 3
		}
	},
	"twitch": {
		"connection": {
			"reconnect": true,
			"secure": true
		},
		"identity": {
			"username": "BotName",
			"password": "oauth:",
			"clientid": ""
		},
		"owners": ["nielsad"]
	},
	"discord": {
		"connection": {
			"api_request_method": "burst"
		},
		"identity": {
			"token": ""
		},
		"owners": ["niels#1234"]
	},
	"channels": {
		"#twitchChannel": {
			"discord_guild": "discordGuildID",
			"discord_mods":  "discordRoleName",
			"discord_log":   "discordChannelID",
			"api_tokens": {
				"123": 3
			}
			"commands": {
				"!muddy": {
					"response": "I'm alive! Source available at https://github.com/nielsAD/muddy PogChamp"
				}
			}
		}
	}
}
